/* You can add global styles to this file, and also import other style files */
@import './assets/styles/spinner';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/styles/variable';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

%row-shared {
    padding: $rowPadding;
    margin: $rowMargin;
}

.pageRow.row{
    @extend %row-shared;
    background: #fff;
    font-weight:400;
}

.pageContainer.row {
    @extend %row-shared;
    height: $rowHeight;
}

.jumbotron {
    min-height: $rowHeight;
}

body{
    background-image:url('./assets/images/back.jpg');
    background-repeat: repeat;
}
.cardHeader{
    background-color: $cardHeaderColor;
}
.cardTitle {
    color: $titleColor;
    padding: $rowPadding;
}
.vAlignOuter {
    display: flex;
}
.vAlignInner {
    align-self: center;
    margin: 0 auto;
    min-width: 30rem;
}
.full-width {
    width:100%;
}
p.customError {
    color:#f44336 !important;
    font-size: 0.8em;
    margin-top: -1rem;
    text-align:left;
}

#gridContainer{
    tr {
        td {
            font-size: 1.2em;
            padding: 0.7rem;
        }
    }
}

.toast-message {
    font-weight:700;
    font-size:1em;
}

.mat-form-field-infix {
    margin-left:0.5rem;
    font-size:1.1em;
}

.toast-container .toast {
    border-radius: 5px;
    width:400px;
}

.toast-container .toast .toast-message {
    padding-top:0.3rem;
}

.black-overlay {
    position: fixed !important;
}

.dx-header-row td{
    font-weight:bold;
}

.cdk-overlay-container{
    z-index:1500;
}

.html-reporter .suite a {
    color: #fff !important;
}