<div class="row pageContainer">
    <div class="col-md-12">
        <div class="jumbotron pt-3">
            <h2 class="h2 h2-responsive text-info">Post New Ticket</h2>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                  <form #TicketFormRef="ngForm" novalidate>
                      <mat-form-field class="full-width">
                        <mat-select required #TicketTypeRef="ngModel" id="ticketType" name="ticketType" [(ngModel)]="ticketType" placeholder="Ticket Type">
                          <mat-option value="">Select</mat-option>
                          <mat-option value="test1">Test1</mat-option>
                          <mat-option value="test2">Test2</mat-option>
                        </mat-select>
                        <mat-error *ngIf="TicketTypeRef.invalid && (TicketTypeRef.dirty || TicketTypeRef.touched)">
                          <span *ngIf="TicketTypeRef.errors.required" color="warn">
                            Please fill out this field
                          </span>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="full-width">
                        <input required #TitleRef="ngModel" autocomplete="off" id="title" name="title" [(ngModel)]="title" type="text" matInput placeholder="Ticket Title">
                        <mat-error *ngIf="TitleRef.invalid && (TitleRef.dirty || TitleRef.touched)">
                          <span *ngIf="TitleRef.errors.required" color="warn">
                            Please fill out this field
                          </span>
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="full-width">
                        <textarea required rows="5" #DescriptionRef="ngModel" id="decription" name="decription" [(ngModel)]="decription" matInput placeholder="Ticket Description"></textarea>
                        <mat-error *ngIf="DescriptionRef.invalid && (DescriptionRef.dirty || DescriptionRef.touched)">
                          <span *ngIf="DescriptionRef.errors.required" color="warn">
                            Please fill out this field
                          </span>
                        </mat-error>
                      </mat-form-field>
                      
                      <p>
                        <input #file type="file" name="screenshot" id="screenshot" [(ngModel)]="screenshot" style="display:none" accept="image/*">
                        <label>Upload Ticket Screenshot</label>
                        <button type="button" (click)="file.click()" class="full-width" mat-stroked-button>Select File</button>
                      </p>

                      <mat-form-field class="full-width">
                        <mat-select required #TicketPriorityRef="ngModel" autocomplete="off" id="ticketPriority" name="ticketPriority" [(ngModel)]="ticketPriority" placeholder="Ticket Priority">
                          <mat-option value="test1">Test1</mat-option>
                          <mat-option value="test2">Test2</mat-option>
                        </mat-select>
                        <mat-error *ngIf="TicketPriorityRef.invalid && (TicketPriorityRef.dirty || TicketPriorityRef.touched)">
                          <span *ngIf="TicketPriorityRef.errors.required" color="warn">
                            Please fill out this field
                          </span>
                        </mat-error>
                      </mat-form-field>
                      
                      <mat-form-field class="full-width">
                        <mat-select required #ContactTypeRef="ngModel" id="contactType" name="contactType" [(ngModel)]="contactType" placeholder="Personal Contact Option">
                          <mat-option value="email">Email</mat-option>
                          <mat-option value="phone">Phone</mat-option>
                          <mat-option value="both">Both</mat-option>
                        </mat-select>
                        <mat-error *ngIf="ContactTypeRef.invalid && (ContactTypeRef.dirty || ContactTypeRef.touched)">
                          <span *ngIf="ContactTypeRef.errors.required" color="warn">
                            Please fill out this field
                          </span>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field *ngIf="contactType == 'email' || contactType == 'both'" class="full-width">
                        <input required #EmailRef="ngModel" autocomplete="off" id="email" name="email" [(ngModel)]="email" type="email" matInput placeholder="Your Email" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
                        <mat-error *ngIf="EmailRef.invalid && (EmailRef.dirty || EmailRef.touched)">
                          <span *ngIf="EmailRef.errors.required" color="warn">
                            Please fill out this field
                          </span>
                          <span *ngIf="EmailRef.errors.pattern" color="warn">
                            Please enter valid email address
                          </span>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field *ngIf="contactType == 'phone' || contactType == 'both'" class="full-width">
                        <input required #PhoneRef="ngModel" autocomplete="off" id="phone" name="phone" [(ngModel)]="phone" type="text" matInput placeholder="Your Phone" pattern='^(0|[1-9][0-9]*)$'>
                        <mat-error *ngIf="PhoneRef.invalid && (PhoneRef.dirty || PhoneRef.touched)">
                          <span *ngIf="PhoneRef.errors.required" color="warn">
                            Please fill out this field
                          </span>
                          <span *ngIf="PhoneRef.errors.pattern" color="warn">
                            Please enter only valid number digits
                          </span>
                        </mat-error>
                      </mat-form-field>
                      <p class="text-center">
                        <br/>
                        <button type="submit" mat-raised-button color="primary">Post Ticket</button>
                      </p>
                    </form>
              </div>
            </div>
        </div>
    </div>
</div>

